body{
background-color: rgb(165, 193, 245);
color: aliceblue;
padding: 0;
}


ul.horizontaal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 80px;
  overflow: hidden;
  background-color: #a19595;
}

ul.horizontaal li {
  float: left;
}

ul.horizontaal li a {
  display: block;
  color: rgb(129, 227, 227);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.horizontaal li a:hover {
  background-color: #111111;

}

li a, .dropbtn {
  display: inline-block;
  color:#a19595 ;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 0);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a19595;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #a19595;}

.dropdown:hover .dropdown-content {
  display: block;
}