/*Hier zie je de basisinformatie van mijn website. De achtergrondkleur, de tekstkleur en de padding aan de zijkanten.*/
body{
background-color: rgb(165, 193, 245);
color: rgb(0, 0, 0);
padding: 0; /*Padding wordt gebruikt om ruimte te creëren rond een element binnen bepaalde randen. Hier staat dat uit.*/
}

/*Hieronder is een lang stuk over de de balk bovenaan. Dit is het horizontale menu.*/
ul.horizontaal {
  list-style-type: none; /*Ik heb geen lijst gemaakt.*/
  margin: 0; /*Margin wordt gebruikt om ruimte te creëren rond elementen, buiten de randen. Margin is de afstand tussen de rand van een element en de omliggende elementen.*/
  padding: 0;
  overflow: hidden; /*Overflow bepaalt wat er gebeurt met de inhoud die te groot is om in een gebied te passen. Hiermee wordt bepaald of de inhoud moet worden bijgesneden of dat er iets anders mee moet gebeuren.*/

  min-width: none; /*De minimale breedte staat in dit geval uit.*/
  background-color: #a19595;
}
/*Dit is een lijst item.*/
ul.horizontaal li {
  float: left; /*Het menu blijft aan de linkerkant zweven.*/
}

ul.horizontaal li a {
  display: block; /*Display is dat je kan wijzigen hoe het normaal wordt neergezet. Een blokelement begint altijd op een nieuwe regel en neemt de volledige beschikbare breedte in beslag.*/
  color: rgb(129, 227, 227);
  text-align: center; /*Dit betekent hoe de tekst staat. Links, in het midden of rechts.*/
  padding: 14px 16px;
  text-decoration: none; /*Bij text-decoration kan je je tekst decoreren door een lijn eronder te zetten, het een kleur te geven of een bepaalde stijl of dikte te geven.*/
}

ul.horizontaal li a:hover {
  background-color: #111111;

}
/*Dit gaat over het dropdown menu. Deze dingen zijn bovenaan ook uitgelegd.*/
li a, .dropbtn {
  display: inline-block;
  color:#a19595 ;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn { /*Hover betekent dat er elementen worden geselecteerd als je met je muis eroverheen gaat.*/
  background-color: rgb(0, 0, 0);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute; /*Position gaat over de positionering. Bij abosolute wordt het neergezet bij het dichtsbijzijnde voorgaande element.*/
  background-color: #a19595;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*Box shadow gaat over of er schaduw achter je box zit*/
  z-index: 1; /*z-index gaat over de stapelvolgorde van een element, welke komt eerst, welke komt daarna*/
}

.dropdown-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  min-width: none; /*Dit gaat over de minimale breedte van het element*/
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #a19595;}

.dropdown:hover .dropdown-content {
  display: block;
}

table {
      width: 80%;
      border-collapse: collapse; /*Hiermee bepaal je of de tabelranden moeten worden samengevoegt tot ééń rand of moeten worden gescheiden.*/
      margin: 20px auto;
      font-family: Arial, sans-serif; /*Dit gaat over het lettertype*/
      border: 1px solid #000000; /*Dit gaat over de rand. De dikte en de kleur zijn aangegeven.*/
    }
    th, td {
      border: 1px solid #000000;
      padding: 15px;
      vertical-align: top; /*Vertical-align gaat over dat het element verticaal geplaatst is en in dit geval een beetje bovenaan.*/
    }
    th {
      background-color: #a3e1a3;
      color: rgb(0, 0, 0);
      text-align: left;
    }
    /*n betekent het kind ervan. Dus het kind van th.*/
    tr:nth-child(even) { 
      background-color: #f9f9f9;
    }
    p {
      margin-top: 0;
      margin-bottom: 10px;
    }
    img {
      display: block;
      margin-top: 10px;
      max-width: 100%;
      height: auto;
    }

    table, th, td {
  background-color: rgb(225, 205, 239);
  margin-right: 5%;
  border: none;
  border-radius: 16px; /*Dit gaat over hoe rond de randen van de tabel zijn, hoe meer px, hoe ronder de randen.*/
}